.content__student-portfolio-element{
    border-bottom: solid 1px #E8E8E8;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    background-image: url("../../../images/list-element.svg");
    background-repeat: no-repeat;
    background-position: right;
}