.header__top-buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 89%;
    margin: 7px auto 35px;
    column-gap: 30px;
    align-self: center;
    padding: 10px 0 0 0;
    font-family: Inter;
}
@media all and (max-width: 728px){
    .header__top-buttons{
        justify-content: space-between;
    }
}
