.content__back-link-404{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 184px;
    text-align: center;
    color: #000000;
}