.header__title{
    align-self: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 47px;
    max-width: 60%;
    padding-top: 134px;
}
@media all and (max-width: 768px) {
    .header__title{
        font-size: 38px;
        max-width: 80%;
        padding-top: 334px;
    }
}
