.content__about-topics{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 35px 0 80px;
    margin: 0;
}
@media all and (max-width: 768px){
    .content__about-topics{
        padding: 35px 20px 66px 0;
    }
}
@media all and (max-width: 320px){
    .content__about-topics{
        flex-direction: column;
    }
}