.header__field-search-switch{
    position: relative;
    display: inline-block;
    min-width: 40px;
    height: 24px;
    margin-left: 15px;
}
.header__field-search-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
