.content__technology-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 100px 0 95px 0;
    margin: 0;
}
@media all and (max-width: 768px) {
    .content__technology-list{
        padding: 74px 0 95px 0;
    }
}
@media all and (max-width: 320px) {
    .content__technology-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
