.header__searching-block{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    border-radius: 9px;
    background-color: #F9F9F9;
    margin: auto;
    flex-direction: row;
}
