.content__technology-title{
    align-self: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 47px;
    max-width: 60%;
    padding-top: 30px;
    margin-bottom: 30px;
}
@media all and (max-width: 320px) {
    .content__technology-title{
        font-size: 30px;
        max-width: 100%;
    }
}
