.content__form-information-button{
    background-color: #000000;
    color: #ffffff;
    min-width: 396px;
    min-height: 45px;
    margin-top: 120px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}
