.content__form-information-title{
    width: 100%;
    margin: 23px 0 10px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
