.header__field-search-films{
    display: flex;
    border: none;
    width: 80%;
    background-color: #F9F9F9;
    background-image: url("../../../images/icon.svg");
    background-repeat: no-repeat;
    background-position: 18px;
    padding-left: 65px;
}
