.content__movies-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style-type: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}
@media all and (max-width: 768px){
    .content__movies-list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (max-width: 320px){
    .content__movies-list{
        grid-template-columns: repeat(1, 1fr);
    }
}
