.header__top-button_active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 35px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
}
