.content__button-more-movies{
    display: grid;
    border: solid 1px #E8E8E8;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    border-radius: 5px;
    margin: 50px auto;
    min-height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}