.header__display{
    display: flex;
    background-color: #F5F5F5;
    width: 94%;
    margin: auto;
    min-height: 400px;
    border-radius: 5px;
    flex-direction: column;
    text-align: center;
}
